namespace ConsoleApp10
{
    // Developer class
    public class Developer
    {
        public string Name;
        public string Surname;
        public int Age;
        public int Experience;

        // Default constructor
        public Developer()
        {
            
        }

        //constructor
        public Developer(string name, string surname, int age, int experience)
        {
            Name = name;
            Surname = surname;
            Age = age;
            Experience = experience;
        }
    }

    // Backend class
    public class BackendDeveloper : Developer
    {
        public int SqlExperienceYear;

        //constructor
        public BackendDeveloper(string name, string surname, int age, int experience, int sqlExperienceYear)
            : base(name, surname, age, experience)
        {
            SqlExperienceYear = sqlExperienceYear;
        }
    }

    // Frontend class
    public class FrontendDeveloper : Developer
    {
        public int ReactExperienceYear;

        //constructor
        public FrontendDeveloper(string name, string surname, int age, int experience, int reactExperienceYear)
            : base(name, surname, age, experience)
        {
            ReactExperienceYear = reactExperienceYear;
        }
    }

    class Program
    {
        static void Main()
        {
            // Her bir classa uygun bir nece dene obyekt yaradin
            BackendDeveloper backendDeveloper = new BackendDeveloper("person1Name", "person1Surname", 30, 5, 3);
            FrontendDeveloper frontendDeveloper = new FrontendDeveloper("person2Name", "person2Surname", 28, 4, 2);

            
            Console.WriteLine("Backend Developer:");
            Console.WriteLine($"Name: {backendDeveloper.Name}");
            Console.WriteLine($"Surname: {backendDeveloper.Surname}");
            Console.WriteLine($"Age: {backendDeveloper.Age}");
            Console.WriteLine($"Experience: {backendDeveloper.Experience}");
            Console.WriteLine($"SQL Experience Year: {backendDeveloper.SqlExperienceYear}");

            Console.WriteLine("Frontend Developer:");
            Console.WriteLine($"Name: {frontendDeveloper.Name}");
            Console.WriteLine($"Surname: {frontendDeveloper.Surname}");
            Console.WriteLine($"Age: {frontendDeveloper.Age}");
            Console.WriteLine($"Experience: {frontendDeveloper.Experience}");
            Console.WriteLine($"React Experience Year: {frontendDeveloper.ReactExperienceYear}");
        }
    }

}
